article.article {
	#article-debug-info {
		position: fixed;
		right: 25px;
		top: 75px;
	}

	div#mainContent {
		font-family: Montserrat;
		width: 40em;
	}

	#article-edit {
		textarea {
		    width: 100%;
		    min-height: 20em;
		    background-color: rgba(32,33,34,1);
		    padding: 10px;
		    font-family: monospace;
		}
	}
}